<div>
    <h1>Signup</h1>
    <form [formGroup]="signupForm">
        <div>
            <label>Username</label>
            <mat-form-field [appearance]="'outline'">
                <input matInput formControlName="username" type="text">
            </mat-form-field>
        </div>
        
        <div>
            <label>Password</label>
            <mat-form-field [appearance]="'outline'">
                <input matInput formControlName="password" type="text">
            </mat-form-field>
        </div>
        
        <div>
            <label>Confirm password</label>
            <mat-form-field [appearance]="'outline'">
                <input matInput formControlName="confirmPassword" type="text">
            </mat-form-field>
        </div>
        
        <div>
            <button mat-flat-button color="accent" type="button" (click)="submit()" [disabled]="!signupForm.valid">Submit</button>
        </div>
    </form>
</div>